@import "variables";
@import "mixins";
@import "reboot";

.header {
  @include flex-layout(row, space-between, center);
  padding: 20px 30px;
  border-bottom: 2px solid $border-color;
}

.button-base {
  border-radius: 50px;
  width: 6em;
  height: 2.5em;
  border: 1px solid $primary-color;
}

.header-base-button {
  @extend .button-base;
  width: 6em;
}

.header-button-login {
  @extend .header-base-button;
  @include button-variant($primary-color, transparent);
}

.header-button-register {
  @extend .header-base-button;
  @include button-variant($white, $primary-color);
}

.main {
  @include flex-layout(row, center, center);
  margin-top: 100px;
}

.login-section {
  @include flex-layout(column, center, center);
  border: 2px solid $border-color;
  border-radius: 10px;
  width: 400px;
  height: 500px;
}

.section-title {
  color: $white;
  margin-bottom: 40px;
}

.section-div {
  width: 80%;
  margin-bottom: 16px;
}

.input-div {
  @extend .section-div;
  @include flex-layout(column, center, flex-start);
}

.input-label {
  color: $color-base;
}
.p {
  font-weight: bold;
}
.input {
  border: 0;
  border-bottom: 2px solid $border-color;
  background-color: transparent;
  width: 100%;
  height: 30px;
}

.forgot-password-a {
  align-self: flex-start;
  text-decoration: none;
  color: $primary-color;
}

.section-base-button {
  @extend .button-base;
  width: 80%;
}

.section-button-login {
  @extend .section-base-button;
  @include button-variant($primary-color, transparent);
}

.section-button-register {
  @extend .section-base-button;
  @include button-variant($white, $primary-color);
}
